.DS_Store
.cache
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*/*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
node_modules
nbdist/
.nb-gradle/
coverage
allure-report
allure-results

### QA ###

# Local Development #
application-local.properties
application-it-local.properties